/* Default CSS */
html, body {
	margin: 0;
	padding: 0;

	box-sizing: dorder-box;
}

ol, ul {
	list-style: none;
}

a{
	text-decoration: none;
	color: #000000;
}

img{
	vertical-align: middle;
}

button {
	border: none;
}

input, texr-area {
	outline: none;
}

.clearfix{
	clear: both;
}

.container {
	width: 1130px;
	margin: 0 auto;
}


main-header {
	position: relative;
	background-color: #ffffff;
}

#main-header .search_area {
	position: relative;
	height: 160px;
	background-color: #fffffff;

	border-bottom: 1px solid #e4e8eb;

	display: flex;
	justify-content: center;
	align-items: center;
}

#main-header .search_warp {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	position: relative;
	width: 582px;
	height: 52px;
	border: solid 2px #19ce60;
}

#main-header .search_warp {
	width: calc(100%-52px);
	height: 100%;
	padding: 13px 15px;

	font-size: 22px;
	border: none;

#main-header .search_warp input: focus;
	outline: ;

#main-header .search_warp {
	width: 52px;
	height: 100%;
	background-color: #19ce60;
}



-----------

#main_right #account {
	width: 100%;
	border: solid 1px #deele6;
	padding: 16px 16px 12px 16px;
}

#main_right #account a {
	display: block;
	width: 100%;
	background-color: #19ce60;
	border-radius: 2px;

	padding: 15px 0;

	text-align: center;
	font-size: 13px;
	color: #fff;
	font-weight: 700;
}

#main_right #account .account_sub {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	padding: 0 8px;
}

#main_right #account .account_sub span {
	font-size: 12px;
}

#main_right #banner {
	width: 348px;
	height: 198px;
	background-color: #000000;
}

#main_right #banner {
	width: 348px;
	height: 198px;
	background-color: #000000;
}





#shop-header #shop-header-top {
	width: 100%;
	height: 36px;
	background-color: #83c75a;
	border-bottom: solid 1px ;
}


#shop-header #shop-header-middle {
	width: 100%;
	height: 66px;
	background-color: #83c75a;
}

#shop-header  nav {
	width: 100%;
	border-top: solid 1px #e8e8e8;
	border-bottom: sold 1px #e8e8e8;
}


#shape-main .list-item . list-half {
	width: 100%;
	height: 240px;
	background-color: #ffffff;
}

#shape-main .list-item . list-top {
	position: absolute;
	left: 0;
	top: 0;
}

#shape-main .list-item . list-bottom {
	position: absolute;
	left: 0;
	bottom: 0;
}

#shape-main .list-item . list-half-header {
	position: relative;

	width: 100%;
	height: 62px;
	background-color: #ffffff;

	text-align: center;
}


#shape-main .list-item . list-half-header .headline {
	display: inline-block;
	border: solid 1px #000000;
	padding: 2px 4px;
}


#shape-main .list-item . list-half-header h3 {
	font-size: 14px;


#shape-main .list-item . list-half-header {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);






#shape-main .list-item . list-half-header.list-half-bg {
	padding-top: 0;
	background-color: green;
}

#shape-main .list-item . list-half-header.list-half-bg {
	position: relative;
	display: inline-block;
	border: solid;
}







#webtoon-main .webtoon-main-right .webtoon-challenge-wrap{
	width: 100%;
	height: 252px;
	background-color: #f9f9fc;

	padding: 20px 18px;
}

#webtoon-main .webtoon-main-right .webtoon-challenge-wrap h3 {
	font-size: 18px;
	margin-bottom: 11px;
}

#webtoon-main .webtoon-main-right .webtoon-challenge-wrap h3 span {
	color: #00d564;
}

#webtoon-main .webtoon-main-right .webtoon-challenge-wrap img {
	width: 100%;
	height: 110px;

	margin-bottom: 18px;
}

#webtoon-main .webtoon-main-right .webtoon-challenge-wrap .webtoon-info {

#webtoon-main .webtoon-main-right .webtoon-challenge-wrap .webtoon-info .webtoon-title-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

#webtoon-main .webtoon-main-right .webtoon-challenge-wrap .webtoon-info .webtoon-title-wrap h4{
	font-size: 16px;
}
#webtoon-main .webtoon-main-right .webtoon-challenge-wrap .webtoon-info .webtoon-title-wrap h4 a{
	text-decoration: underline;
}
#webtoon-main .webtoon-main-right .webtoon-challenge-wrap .webtoon-info .webtoon-title-wrap a {
	font-size: 12px;
}
#webtoon-main .webtoon-main-right .webtoon-challenge-wrap .webtoon-info .webtoon-title-wrap p {
	font-size: 14px;
}
#webtoon-main .webtoon-main-right .webtoon-challenge-wrap .webtoon-info .webtoon-title-wrap p a {
	color: grey;
}

#webtoon-main .webtoon-main-right .webtoon-banner-type-1,
#webtoon-main .webtoon-main-right .webtoon-banner-type-2 {
	margin-bottom: 8px;



#webtoon-main .webtoon-main-right .webtoon-banner-type-1 {
	width: 100%;
	height: 240px;
	background-color: yellow;

}


#webtoon-main .webtoon-main-right .webtoon-banner-type-2 {
	width: 100%;
	height: 86px;
	background-color: pink;














